<div>
  <div>
    <label>Select Crochet Type</label>
    <select>
      <option>Hat</option>
      <option>Scarf</option>
      <option>Mittens</option>
      <option>Sweater</option>
      <option>Blanket</option>
    </select>
  </div>
  <div>
    <label>Select a Size</label>
    <select>
      <option>Baby</option>
      <option>Extra Small</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
      <option>Extra Large</option>
      <option>2X Large</option>
    </select>
  </div>
</div>
