<div>
  <div class="slideshow">    
    <img class="slide" src="../../assets/images/crochet1.jpg" style="width: 100%" />
    <img class="slide" src="../../assets/images/crochet2.jpg" style="width: 100%" />
    <img class="slide" src="../../assets/images/crochet3.jpg" style="width: 100%" />
    <div class="center section text-white display-bottommiddle" style="width: 100%">
      <div class="left hover-highlight" onclick="plusDivs(-1)">&#10094;</div>
      <div class="right hover-highlight" onclick="plusDivs(1)">&#10095;</div>
      <span class="badge demo w-border w-transparent w-hover-white" onclick="currentDiv(1)"></span>
      <span class="badge demo w-border w-transparent w-hover-white" onclick="currentDiv(2)"></span>
      <span class="badge demo w-border w-transparent w-hover-white" onclick="currentDiv(3)"></span>
    </div>
  </div>
  <div>
    <label>Select Crochet Type</label>
    <select>
      <option>Hat</option>
      <option>Scarf</option>
      <option>Mittens</option>
      <option>Sweater</option>
      <option>Blanket</option>
    </select>
  </div>
  <div>
    <label>Select a Size</label>
    <select>
      <option>Baby</option>
      <option>Extra Small</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
      <option>Extra Large</option>
      <option>2X Large</option>
    </select>
  </div>
</div>
