<div>
  <div class="slideshow-container">
    <div class="mySlides">      
      <div class="crochet1">
        <div class="text">Step 1: Select the type & size</div>
      </div>      
    </div>
    <div class="mySlides">      
      <div class="crochet2">
        <div class="text">Step 2: Select the yarn weight</div>
      </div>
    </div>
    <div class="mySlides">      
      <div class="crochet3">
        <div class="text">Step 3: Click the 'Generate' button!</div>
      </div>
    </div>
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <br/>
  <div style="text-align: center">
    <span class="dot" (click)="currentSlide(1)"></span> 
    <span class="dot" (click)="currentSlide(2)"></span> 
    <span class="dot" (click)="currentSlide(3)"></span>
  </div>
  <div>
    <label>Select Crochet Type</label>
    <select name="selectedType">
      <option></option>
      <option *ngFor="let type of projectTypes" [value]="type.name" >{{type.name}}</option>
    </select>
  </div>
  <div>
    <label>Select a Size</label>
    <select >
      <option>Baby</option>
      <option>Extra Small</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
      <option>Extra Large</option>
      <option>2X Large</option>
    </select>
  </div>
</div>
